.root {
  padding: 20px;
  background-color: var(--background);
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.view {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #444;
}

.viewButton {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;

}

.active {
  background-color: #282828;
}

.viewButton:hover {
  background-color: #3a3a3a;
}

.list {
  display: grid;
  grid-template-columns: 1fr;

  gap: 20px;
}

.tile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.deleteButton {
  background-color: #ff4747;
  color: white;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #e03e3e;
}