.root {
  background-color: #0a0a0a;
  color: #ffffff;
  padding: 20px 0;
  border-top: 1px solid #444; /* Разделительная линия */
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.copyright {
  font-size: 14px;
  margin: 0;
  color: #cccccc; /* Более светлый оттенок для текста */
}
